.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  justify-content: space-around;

  line-height: 30px;
}
.flex-item {
  margin: 0px;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  flex: 1 0 auto;
  height: auto;
  border: 1px solid black;
}
.flex-item:before {
  content: "";
  float: left;
  padding-top: 100%;
}

.Tile {
  height: 100%;
  width: 100%;
}

.tiles {
  width: 100%;
  height: 100%;
  background: url(./underworld_load-atlas-32x32.png) no-repeat;
  background-size: 1750%;
}

.tile-0-0 { background-position: 0.00% 0.00%; }
.tile-1-0 { background-position: 6.67% 0.00%; }
.tile-2-0 { background-position: 13.33% 0.00%; }
.tile-3-0 { background-position: 20.00% 0.00%; }
.tile-4-0 { background-position: 26.67% 0.00%; }
.tile-5-0 { background-position: 33.33% 0.00%; }
.tile-6-0 { background-position: 40.00% 0.00%; }
.tile-7-0 { background-position: 46.67% 0.00%; }
.tile-8-0 { background-position: 53.33% 0.00%; }
.tile-9-0 { background-position: 60.00% 0.00%; }
.tile-10-0 { background-position: 66.67% 0.00%; }
.tile-11-0 { background-position: 73.33% 0.00%; }
.tile-12-0 { background-position: 80.00% 0.00%; }
.tile-13-0 { background-position: 86.67% 0.00%; }
.tile-14-0 { background-position: 93.33% 0.00%; }
.tile-15-0 { background-position: 100.00% 0.00%; }
.tile-0-1 { background-position: 0.00% 6.67%; }
.tile-1-1 { background-position: 6.67% 6.67%; }
.tile-2-1 { background-position: 13.33% 6.67%; }
.tile-3-1 { background-position: 20.00% 6.67%; }
.tile-4-1 { background-position: 26.67% 6.67%; }
.tile-5-1 { background-position: 33.33% 6.67%; }
.tile-6-1 { background-position: 40.00% 6.67%; }
.tile-7-1 { background-position: 46.67% 6.67%; }
.tile-8-1 { background-position: 53.33% 6.67%; }
.tile-9-1 { background-position: 60.00% 6.67%; }
.tile-10-1 { background-position: 66.67% 6.67%; }
.tile-11-1 { background-position: 73.33% 6.67%; }
.tile-12-1 { background-position: 80.00% 6.67%; }
.tile-13-1 { background-position: 86.67% 6.67%; }
.tile-14-1 { background-position: 93.33% 6.67%; }
.tile-15-1 { background-position: 100.00% 6.67%; }
.tile-0-2 { background-position: 0.00% 13.33%; }
.tile-1-2 { background-position: 6.67% 13.33%; }
.tile-2-2 { background-position: 13.33% 13.33%; }
.tile-3-2 { background-position: 20.00% 13.33%; }
.tile-4-2 { background-position: 26.67% 13.33%; }
.tile-5-2 { background-position: 33.33% 13.33%; }
.tile-6-2 { background-position: 40.00% 13.33%; }
.tile-7-2 { background-position: 46.67% 13.33%; }
.tile-8-2 { background-position: 53.33% 13.33%; }
.tile-9-2 { background-position: 60.00% 13.33%; }
.tile-10-2 { background-position: 66.67% 13.33%; }
.tile-11-2 { background-position: 73.33% 13.33%; }
.tile-12-2 { background-position: 80.00% 13.33%; }
.tile-13-2 { background-position: 86.67% 13.33%; }
.tile-14-2 { background-position: 93.33% 13.33%; }
.tile-15-2 { background-position: 100.00% 13.33%; }
.tile-0-3 { background-position: 0.00% 20.00%; }
.tile-1-3 { background-position: 6.67% 20.00%; }
.tile-2-3 { background-position: 13.33% 20.00%; }
.tile-3-3 { background-position: 20.00% 20.00%; }
.tile-4-3 { background-position: 26.67% 20.00%; }
.tile-5-3 { background-position: 33.33% 20.00%; }
.tile-6-3 { background-position: 40.00% 20.00%; }
.tile-7-3 { background-position: 46.67% 20.00%; }
.tile-8-3 { background-position: 53.33% 20.00%; }
.tile-9-3 { background-position: 60.00% 20.00%; }
.tile-10-3 { background-position: 66.67% 20.00%; }
.tile-11-3 { background-position: 73.33% 20.00%; }
.tile-12-3 { background-position: 80.00% 20.00%; }
.tile-13-3 { background-position: 86.67% 20.00%; }
.tile-14-3 { background-position: 93.33% 20.00%; }
.tile-15-3 { background-position: 100.00% 20.00%; }
.tile-0-4 { background-position: 0.00% 26.67%; }
.tile-1-4 { background-position: 6.67% 26.67%; }
.tile-2-4 { background-position: 13.33% 26.67%; }
.tile-3-4 { background-position: 20.00% 26.67%; }
.tile-4-4 { background-position: 26.67% 26.67%; }
.tile-5-4 { background-position: 33.33% 26.67%; }
.tile-6-4 { background-position: 40.00% 26.67%; }
.tile-7-4 { background-position: 46.67% 26.67%; }
.tile-8-4 { background-position: 53.33% 26.67%; }
.tile-9-4 { background-position: 60.00% 26.67%; }
.tile-10-4 { background-position: 66.67% 26.67%; }
.tile-11-4 { background-position: 73.33% 26.67%; }
.tile-12-4 { background-position: 80.00% 26.67%; }
.tile-13-4 { background-position: 86.67% 26.67%; }
.tile-14-4 { background-position: 93.33% 26.67%; }
.tile-15-4 { background-position: 100.00% 26.67%; }
.tile-0-5 { background-position: 0.00% 33.33%; }
.tile-1-5 { background-position: 6.67% 33.33%; }
.tile-2-5 { background-position: 13.33% 33.33%; }
.tile-3-5 { background-position: 20.00% 33.33%; }
.tile-4-5 { background-position: 26.67% 33.33%; }
.tile-5-5 { background-position: 33.33% 33.33%; }
.tile-6-5 { background-position: 40.00% 33.33%; }
.tile-7-5 { background-position: 46.67% 33.33%; }
.tile-8-5 { background-position: 53.33% 33.33%; }
.tile-9-5 { background-position: 60.00% 33.33%; }
.tile-10-5 { background-position: 66.67% 33.33%; }
.tile-11-5 { background-position: 73.33% 33.33%; }
.tile-12-5 { background-position: 80.00% 33.33%; }
.tile-13-5 { background-position: 86.67% 33.33%; }
.tile-14-5 { background-position: 93.33% 33.33%; }
.tile-15-5 { background-position: 100.00% 33.33%; }
.tile-0-6 { background-position: 0.00% 40.00%; }
.tile-1-6 { background-position: 6.67% 40.00%; }
.tile-2-6 { background-position: 13.33% 40.00%; }
.tile-3-6 { background-position: 20.00% 40.00%; }
.tile-4-6 { background-position: 26.67% 40.00%; }
.tile-5-6 { background-position: 33.33% 40.00%; }
.tile-6-6 { background-position: 40.00% 40.00%; }
.tile-7-6 { background-position: 46.67% 40.00%; }
.tile-8-6 { background-position: 53.33% 40.00%; }
.tile-9-6 { background-position: 60.00% 40.00%; }
.tile-10-6 { background-position: 66.67% 40.00%; }
.tile-11-6 { background-position: 73.33% 40.00%; }
.tile-12-6 { background-position: 80.00% 40.00%; }
.tile-13-6 { background-position: 86.67% 40.00%; }
.tile-14-6 { background-position: 93.33% 40.00%; }
.tile-15-6 { background-position: 100.00% 40.00%; }
.tile-0-7 { background-position: 0.00% 46.67%; }
.tile-1-7 { background-position: 6.67% 46.67%; }
.tile-2-7 { background-position: 13.33% 46.67%; }
.tile-3-7 { background-position: 20.00% 46.67%; }
.tile-4-7 { background-position: 26.67% 46.67%; }
.tile-5-7 { background-position: 33.33% 46.67%; }
.tile-6-7 { background-position: 40.00% 46.67%; }
.tile-7-7 { background-position: 46.67% 46.67%; }
.tile-8-7 { background-position: 53.33% 46.67%; }
.tile-9-7 { background-position: 60.00% 46.67%; }
.tile-10-7 { background-position: 66.67% 46.67%; }
.tile-11-7 { background-position: 73.33% 46.67%; }
.tile-12-7 { background-position: 80.00% 46.67%; }
.tile-13-7 { background-position: 86.67% 46.67%; }
.tile-14-7 { background-position: 93.33% 46.67%; }
.tile-15-7 { background-position: 100.00% 46.67%; }
.tile-0-8 { background-position: 0.00% 53.33%; }
.tile-1-8 { background-position: 6.67% 53.33%; }
.tile-2-8 { background-position: 13.33% 53.33%; }
.tile-3-8 { background-position: 20.00% 53.33%; }
.tile-4-8 { background-position: 26.67% 53.33%; }
.tile-5-8 { background-position: 33.33% 53.33%; }
.tile-6-8 { background-position: 40.00% 53.33%; }
.tile-7-8 { background-position: 46.67% 53.33%; }
.tile-8-8 { background-position: 53.33% 53.33%; }
.tile-9-8 { background-position: 60.00% 53.33%; }
.tile-10-8 { background-position: 66.67% 53.33%; }
.tile-11-8 { background-position: 73.33% 53.33%; }
.tile-12-8 { background-position: 80.00% 53.33%; }
.tile-13-8 { background-position: 86.67% 53.33%; }
.tile-14-8 { background-position: 93.33% 53.33%; }
.tile-15-8 { background-position: 100.00% 53.33%; }
.tile-0-9 { background-position: 0.00% 60.00%; }
.tile-1-9 { background-position: 6.67% 60.00%; }
.tile-2-9 { background-position: 13.33% 60.00%; }
.tile-3-9 { background-position: 20.00% 60.00%; }
.tile-4-9 { background-position: 26.67% 60.00%; }
.tile-5-9 { background-position: 33.33% 60.00%; }
.tile-6-9 { background-position: 40.00% 60.00%; }
.tile-7-9 { background-position: 46.67% 60.00%; }
.tile-8-9 { background-position: 53.33% 60.00%; }
.tile-9-9 { background-position: 60.00% 60.00%; }
.tile-10-9 { background-position: 66.67% 60.00%; }
.tile-11-9 { background-position: 73.33% 60.00%; }
.tile-12-9 { background-position: 80.00% 60.00%; }
.tile-13-9 { background-position: 86.67% 60.00%; }
.tile-14-9 { background-position: 93.33% 60.00%; }
.tile-15-9 { background-position: 100.00% 60.00%; }
.tile-0-10 { background-position: 0.00% 66.67%; }
.tile-1-10 { background-position: 6.67% 66.67%; }
.tile-2-10 { background-position: 13.33% 66.67%; }
.tile-3-10 { background-position: 20.00% 66.67%; }
.tile-4-10 { background-position: 26.67% 66.67%; }
.tile-5-10 { background-position: 33.33% 66.67%; }
.tile-6-10 { background-position: 40.00% 66.67%; }
.tile-7-10 { background-position: 46.67% 66.67%; }
.tile-8-10 { background-position: 53.33% 66.67%; }
.tile-9-10 { background-position: 60.00% 66.67%; }
.tile-10-10 { background-position: 66.67% 66.67%; }
.tile-11-10 { background-position: 73.33% 66.67%; }
.tile-12-10 { background-position: 80.00% 66.67%; }
.tile-13-10 { background-position: 86.67% 66.67%; }
.tile-14-10 { background-position: 93.33% 66.67%; }
.tile-15-10 { background-position: 100.00% 66.67%; }
.tile-0-11 { background-position: 0.00% 73.33%; }
.tile-1-11 { background-position: 6.67% 73.33%; }
.tile-2-11 { background-position: 13.33% 73.33%; }
.tile-3-11 { background-position: 20.00% 73.33%; }
.tile-4-11 { background-position: 26.67% 73.33%; }
.tile-5-11 { background-position: 33.33% 73.33%; }
.tile-6-11 { background-position: 40.00% 73.33%; }
.tile-7-11 { background-position: 46.67% 73.33%; }
.tile-8-11 { background-position: 53.33% 73.33%; }
.tile-9-11 { background-position: 60.00% 73.33%; }
.tile-10-11 { background-position: 66.67% 73.33%; }
.tile-11-11 { background-position: 73.33% 73.33%; }
.tile-12-11 { background-position: 80.00% 73.33%; }
.tile-13-11 { background-position: 86.67% 73.33%; }
.tile-14-11 { background-position: 93.33% 73.33%; }
.tile-15-11 { background-position: 100.00% 73.33%; }
.tile-0-12 { background-position: 0.00% 80.00%; }
.tile-1-12 { background-position: 6.67% 80.00%; }
.tile-2-12 { background-position: 13.33% 80.00%; }
.tile-3-12 { background-position: 20.00% 80.00%; }
.tile-4-12 { background-position: 26.67% 80.00%; }
.tile-5-12 { background-position: 33.33% 80.00%; }
.tile-6-12 { background-position: 40.00% 80.00%; }
.tile-7-12 { background-position: 46.67% 80.00%; }
.tile-8-12 { background-position: 53.33% 80.00%; }
.tile-9-12 { background-position: 60.00% 80.00%; }
.tile-10-12 { background-position: 66.67% 80.00%; }
.tile-11-12 { background-position: 73.33% 80.00%; }
.tile-12-12 { background-position: 80.00% 80.00%; }
.tile-13-12 { background-position: 86.67% 80.00%; }
.tile-14-12 { background-position: 93.33% 80.00%; }
.tile-15-12 { background-position: 100.00% 80.00%; }
.tile-0-13 { background-position: 0.00% 86.67%; }
.tile-1-13 { background-position: 6.67% 86.67%; }
.tile-2-13 { background-position: 13.33% 86.67%; }
.tile-3-13 { background-position: 20.00% 86.67%; }
.tile-4-13 { background-position: 26.67% 86.67%; }
.tile-5-13 { background-position: 33.33% 86.67%; }
.tile-6-13 { background-position: 40.00% 86.67%; }
.tile-7-13 { background-position: 46.67% 86.67%; }
.tile-8-13 { background-position: 53.33% 86.67%; }
.tile-9-13 { background-position: 60.00% 86.67%; }
.tile-10-13 { background-position: 66.67% 86.67%; }
.tile-11-13 { background-position: 73.33% 86.67%; }
.tile-12-13 { background-position: 80.00% 86.67%; }
.tile-13-13 { background-position: 86.67% 86.67%; }
.tile-14-13 { background-position: 93.33% 86.67%; }
.tile-15-13 { background-position: 100.00% 86.67%; }
.tile-0-14 { background-position: 0.00% 93.33%; }
.tile-1-14 { background-position: 6.67% 93.33%; }
.tile-2-14 { background-position: 13.33% 93.33%; }
.tile-3-14 { background-position: 20.00% 93.33%; }
.tile-4-14 { background-position: 26.67% 93.33%; }
.tile-5-14 { background-position: 33.33% 93.33%; }
.tile-6-14 { background-position: 40.00% 93.33%; }
.tile-7-14 { background-position: 46.67% 93.33%; }
.tile-8-14 { background-position: 53.33% 93.33%; }
.tile-9-14 { background-position: 60.00% 93.33%; }
.tile-10-14 { background-position: 66.67% 93.33%; }
.tile-11-14 { background-position: 73.33% 93.33%; }
.tile-12-14 { background-position: 80.00% 93.33%; }
.tile-13-14 { background-position: 86.67% 93.33%; }
.tile-14-14 { background-position: 93.33% 93.33%; }
.tile-15-14 { background-position: 100.00% 93.33%; }
.tile-0-15 { background-position: 0.00% 100.00%; }
.tile-1-15 { background-position: 6.67% 100.00%; }
.tile-2-15 { background-position: 13.33% 100.00%; }
.tile-3-15 { background-position: 20.00% 100.00%; }
.tile-4-15 { background-position: 26.67% 100.00%; }
.tile-5-15 { background-position: 33.33% 100.00%; }
.tile-6-15 { background-position: 40.00% 100.00%; }
.tile-7-15 { background-position: 46.67% 100.00%; }
.tile-8-15 { background-position: 53.33% 100.00%; }
.tile-9-15 { background-position: 60.00% 100.00%; }
.tile-10-15 { background-position: 66.67% 100.00%; }
.tile-11-15 { background-position: 73.33% 100.00%; }
.tile-12-15 { background-position: 80.00% 100.00%; }
.tile-13-15 { background-position: 86.67% 100.00%; }
.tile-14-15 { background-position: 93.33% 100.00%; }
.tile-15-15 { background-position: 100.00% 100.00%; }

/* .tiles {
  width: 100%;
  height: 100%;
  background: url(./dungeon_tiles.png) 0 0 no-repeat;
  background-size: 2100%;
} */

/* .tile-snapshot {
  background-position: 26.25% 0%;
} */

/* .tile-0-0 { background-position: 0% 0%; }
.tile-1-0 { background-position: 5% 0%; }
.tile-2-0 { background-position: 10% 0%; }
.tile-3-0 { background-position: 15% 0%; }
.tile-4-0 { background-position: 20% 0%; }
.tile-5-0 { background-position: 25% 0%; }
.tile-6-0 { background-position: 30% 0%; }
.tile-7-0 { background-position: 35% 0%; }
.tile-8-0 { background-position: 40% 0%; }
.tile-9-0 { background-position: 45% 0%; }
.tile-10-0 { background-position: 50% 0%; }
.tile-11-0 { background-position: 55% 0%; }
.tile-12-0 { background-position: 60% 0%; }
.tile-13-0 { background-position: 65% 0%; }
.tile-14-0 { background-position: 70% 0%; }
.tile-15-0 { background-position: 75% 0%; }
.tile-16-0 { background-position: 80% 0%; }
.tile-17-0 { background-position: 85% 0%; }
.tile-18-0 { background-position: 90% 0%; }
.tile-19-0 { background-position: 95% 0%; }
.tile-20-0 { background-position: 100% 0%; }
.tile-0-1 { background-position: 0% 5%; }
.tile-1-1 { background-position: 5% 5%; }
.tile-2-1 { background-position: 10% 5%; }
.tile-3-1 { background-position: 15% 5%; }
.tile-4-1 { background-position: 20% 5%; }
.tile-5-1 { background-position: 25% 5%; }
.tile-6-1 { background-position: 30% 5%; }
.tile-7-1 { background-position: 35% 5%; }
.tile-8-1 { background-position: 40% 5%; }
.tile-9-1 { background-position: 45% 5%; }
.tile-10-1 { background-position: 50% 5%; }
.tile-11-1 { background-position: 55% 5%; }
.tile-12-1 { background-position: 60% 5%; }
.tile-13-1 { background-position: 65% 5%; }
.tile-14-1 { background-position: 70% 5%; }
.tile-15-1 { background-position: 75% 5%; }
.tile-16-1 { background-position: 80% 5%; }
.tile-17-1 { background-position: 85% 5%; }
.tile-18-1 { background-position: 90% 5%; }
.tile-19-1 { background-position: 95% 5%; }
.tile-20-1 { background-position: 100% 5%; }
.tile-0-2 { background-position: 0% 10%; }
.tile-1-2 { background-position: 5% 10%; }
.tile-2-2 { background-position: 10% 10%; }
.tile-3-2 { background-position: 15% 10%; }
.tile-4-2 { background-position: 20% 10%; }
.tile-5-2 { background-position: 25% 10%; }
.tile-6-2 { background-position: 30% 10%; }
.tile-7-2 { background-position: 35% 10%; }
.tile-8-2 { background-position: 40% 10%; }
.tile-9-2 { background-position: 45% 10%; }
.tile-10-2 { background-position: 50% 10%; }
.tile-11-2 { background-position: 55% 10%; }
.tile-12-2 { background-position: 60% 10%; }
.tile-13-2 { background-position: 65% 10%; }
.tile-14-2 { background-position: 70% 10%; }
.tile-15-2 { background-position: 75% 10%; }
.tile-16-2 { background-position: 80% 10%; }
.tile-17-2 { background-position: 85% 10%; }
.tile-18-2 { background-position: 90% 10%; }
.tile-19-2 { background-position: 95% 10%; }
.tile-20-2 { background-position: 100% 10%; }
.tile-0-3 { background-position: 0% 15%; }
.tile-1-3 { background-position: 5% 15%; }
.tile-2-3 { background-position: 10% 15%; }
.tile-3-3 { background-position: 15% 15%; }
.tile-4-3 { background-position: 20% 15%; }
.tile-5-3 { background-position: 25% 15%; }
.tile-6-3 { background-position: 30% 15%; }
.tile-7-3 { background-position: 35% 15%; }
.tile-8-3 { background-position: 40% 15%; }
.tile-9-3 { background-position: 45% 15%; }
.tile-10-3 { background-position: 50% 15%; }
.tile-11-3 { background-position: 55% 15%; }
.tile-12-3 { background-position: 60% 15%; }
.tile-13-3 { background-position: 65% 15%; }
.tile-14-3 { background-position: 70% 15%; }
.tile-15-3 { background-position: 75% 15%; }
.tile-16-3 { background-position: 80% 15%; }
.tile-17-3 { background-position: 85% 15%; }
.tile-18-3 { background-position: 90% 15%; }
.tile-19-3 { background-position: 95% 15%; }
.tile-20-3 { background-position: 100% 15%; }
.tile-0-4 { background-position: 0% 20%; }
.tile-1-4 { background-position: 5% 20%; }
.tile-2-4 { background-position: 10% 20%; }
.tile-3-4 { background-position: 15% 20%; }
.tile-4-4 { background-position: 20% 20%; }
.tile-5-4 { background-position: 25% 20%; }
.tile-6-4 { background-position: 30% 20%; }
.tile-7-4 { background-position: 35% 20%; }
.tile-8-4 { background-position: 40% 20%; }
.tile-9-4 { background-position: 45% 20%; }
.tile-10-4 { background-position: 50% 20%; }
.tile-11-4 { background-position: 55% 20%; }
.tile-12-4 { background-position: 60% 20%; }
.tile-13-4 { background-position: 65% 20%; }
.tile-14-4 { background-position: 70% 20%; }
.tile-15-4 { background-position: 75% 20%; }
.tile-16-4 { background-position: 80% 20%; }
.tile-17-4 { background-position: 85% 20%; }
.tile-18-4 { background-position: 90% 20%; }
.tile-19-4 { background-position: 95% 20%; }
.tile-20-4 { background-position: 100% 20%; }
.tile-0-5 { background-position: 0% 25%; }
.tile-1-5 { background-position: 5% 25%; }
.tile-2-5 { background-position: 10% 25%; }
.tile-3-5 { background-position: 15% 25%; }
.tile-4-5 { background-position: 20% 25%; }
.tile-5-5 { background-position: 25% 25%; }
.tile-6-5 { background-position: 30% 25%; }
.tile-7-5 { background-position: 35% 25%; }
.tile-8-5 { background-position: 40% 25%; }
.tile-9-5 { background-position: 45% 25%; }
.tile-10-5 { background-position: 50% 25%; }
.tile-11-5 { background-position: 55% 25%; }
.tile-12-5 { background-position: 60% 25%; }
.tile-13-5 { background-position: 65% 25%; }
.tile-14-5 { background-position: 70% 25%; }
.tile-15-5 { background-position: 75% 25%; }
.tile-16-5 { background-position: 80% 25%; }
.tile-17-5 { background-position: 85% 25%; }
.tile-18-5 { background-position: 90% 25%; }
.tile-19-5 { background-position: 95% 25%; }
.tile-20-5 { background-position: 100% 25%; }
.tile-0-6 { background-position: 0% 30%; }
.tile-1-6 { background-position: 5% 30%; }
.tile-2-6 { background-position: 10% 30%; }
.tile-3-6 { background-position: 15% 30%; }
.tile-4-6 { background-position: 20% 30%; }
.tile-5-6 { background-position: 25% 30%; }
.tile-6-6 { background-position: 30% 30%; }
.tile-7-6 { background-position: 35% 30%; }
.tile-8-6 { background-position: 40% 30%; }
.tile-9-6 { background-position: 45% 30%; }
.tile-10-6 { background-position: 50% 30%; }
.tile-11-6 { background-position: 55% 30%; }
.tile-12-6 { background-position: 60% 30%; }
.tile-13-6 { background-position: 65% 30%; }
.tile-14-6 { background-position: 70% 30%; }
.tile-15-6 { background-position: 75% 30%; }
.tile-16-6 { background-position: 80% 30%; }
.tile-17-6 { background-position: 85% 30%; }
.tile-18-6 { background-position: 90% 30%; }
.tile-19-6 { background-position: 95% 30%; }
.tile-20-6 { background-position: 100% 30%; }
.tile-0-7 { background-position: 0% 35%; }
.tile-1-7 { background-position: 5% 35%; }
.tile-2-7 { background-position: 10% 35%; }
.tile-3-7 { background-position: 15% 35%; }
.tile-4-7 { background-position: 20% 35%; }
.tile-5-7 { background-position: 25% 35%; }
.tile-6-7 { background-position: 30% 35%; }
.tile-7-7 { background-position: 35% 35%; }
.tile-8-7 { background-position: 40% 35%; }
.tile-9-7 { background-position: 45% 35%; }
.tile-10-7 { background-position: 50% 35%; }
.tile-11-7 { background-position: 55% 35%; }
.tile-12-7 { background-position: 60% 35%; }
.tile-13-7 { background-position: 65% 35%; }
.tile-14-7 { background-position: 70% 35%; }
.tile-15-7 { background-position: 75% 35%; }
.tile-16-7 { background-position: 80% 35%; }
.tile-17-7 { background-position: 85% 35%; }
.tile-18-7 { background-position: 90% 35%; }
.tile-19-7 { background-position: 95% 35%; }
.tile-20-7 { background-position: 100% 35%; }
.tile-0-8 { background-position: 0% 40%; }
.tile-1-8 { background-position: 5% 40%; }
.tile-2-8 { background-position: 10% 40%; }
.tile-3-8 { background-position: 15% 40%; }
.tile-4-8 { background-position: 20% 40%; }
.tile-5-8 { background-position: 25% 40%; }
.tile-6-8 { background-position: 30% 40%; }
.tile-7-8 { background-position: 35% 40%; }
.tile-8-8 { background-position: 40% 40%; }
.tile-9-8 { background-position: 45% 40%; }
.tile-10-8 { background-position: 50% 40%; }
.tile-11-8 { background-position: 55% 40%; }
.tile-12-8 { background-position: 60% 40%; }
.tile-13-8 { background-position: 65% 40%; }
.tile-14-8 { background-position: 70% 40%; }
.tile-15-8 { background-position: 75% 40%; }
.tile-16-8 { background-position: 80% 40%; }
.tile-17-8 { background-position: 85% 40%; }
.tile-18-8 { background-position: 90% 40%; }
.tile-19-8 { background-position: 95% 40%; }
.tile-20-8 { background-position: 100% 40%; }
.tile-0-9 { background-position: 0% 45%; }
.tile-1-9 { background-position: 5% 45%; }
.tile-2-9 { background-position: 10% 45%; }
.tile-3-9 { background-position: 15% 45%; }
.tile-4-9 { background-position: 20% 45%; }
.tile-5-9 { background-position: 25% 45%; }
.tile-6-9 { background-position: 30% 45%; }
.tile-7-9 { background-position: 35% 45%; }
.tile-8-9 { background-position: 40% 45%; }
.tile-9-9 { background-position: 45% 45%; }
.tile-10-9 { background-position: 50% 45%; }
.tile-11-9 { background-position: 55% 45%; }
.tile-12-9 { background-position: 60% 45%; }
.tile-13-9 { background-position: 65% 45%; }
.tile-14-9 { background-position: 70% 45%; }
.tile-15-9 { background-position: 75% 45%; }
.tile-16-9 { background-position: 80% 45%; }
.tile-17-9 { background-position: 85% 45%; }
.tile-18-9 { background-position: 90% 45%; }
.tile-19-9 { background-position: 95% 45%; }
.tile-20-9 { background-position: 100% 45%; }
.tile-0-10 { background-position: 0% 50%; }
.tile-1-10 { background-position: 5% 50%; }
.tile-2-10 { background-position: 10% 50%; }
.tile-3-10 { background-position: 15% 50%; }
.tile-4-10 { background-position: 20% 50%; }
.tile-5-10 { background-position: 25% 50%; }
.tile-6-10 { background-position: 30% 50%; }
.tile-7-10 { background-position: 35% 50%; }
.tile-8-10 { background-position: 40% 50%; }
.tile-9-10 { background-position: 45% 50%; }
.tile-10-10 { background-position: 50% 50%; }
.tile-11-10 { background-position: 55% 50%; }
.tile-12-10 { background-position: 60% 50%; }
.tile-13-10 { background-position: 65% 50%; }
.tile-14-10 { background-position: 70% 50%; }
.tile-15-10 { background-position: 75% 50%; }
.tile-16-10 { background-position: 80% 50%; }
.tile-17-10 { background-position: 85% 50%; }
.tile-18-10 { background-position: 90% 50%; }
.tile-19-10 { background-position: 95% 50%; }
.tile-20-10 { background-position: 100% 50%; }
.tile-0-11 { background-position: 0% 55%; }
.tile-1-11 { background-position: 5% 55%; }
.tile-2-11 { background-position: 10% 55%; }
.tile-3-11 { background-position: 15% 55%; }
.tile-4-11 { background-position: 20% 55%; }
.tile-5-11 { background-position: 25% 55%; }
.tile-6-11 { background-position: 30% 55%; }
.tile-7-11 { background-position: 35% 55%; }
.tile-8-11 { background-position: 40% 55%; }
.tile-9-11 { background-position: 45% 55%; }
.tile-10-11 { background-position: 50% 55%; }
.tile-11-11 { background-position: 55% 55%; }
.tile-12-11 { background-position: 60% 55%; }
.tile-13-11 { background-position: 65% 55%; }
.tile-14-11 { background-position: 70% 55%; }
.tile-15-11 { background-position: 75% 55%; }
.tile-16-11 { background-position: 80% 55%; }
.tile-17-11 { background-position: 85% 55%; }
.tile-18-11 { background-position: 90% 55%; }
.tile-19-11 { background-position: 95% 55%; }
.tile-20-11 { background-position: 100% 55%; }
.tile-0-12 { background-position: 0% 60%; }
.tile-1-12 { background-position: 5% 60%; }
.tile-2-12 { background-position: 10% 60%; }
.tile-3-12 { background-position: 15% 60%; }
.tile-4-12 { background-position: 20% 60%; }
.tile-5-12 { background-position: 25% 60%; }
.tile-6-12 { background-position: 30% 60%; }
.tile-7-12 { background-position: 35% 60%; }
.tile-8-12 { background-position: 40% 60%; }
.tile-9-12 { background-position: 45% 60%; }
.tile-10-12 { background-position: 50% 60%; }
.tile-11-12 { background-position: 55% 60%; }
.tile-12-12 { background-position: 60% 60%; }
.tile-13-12 { background-position: 65% 60%; }
.tile-14-12 { background-position: 70% 60%; }
.tile-15-12 { background-position: 75% 60%; }
.tile-16-12 { background-position: 80% 60%; }
.tile-17-12 { background-position: 85% 60%; }
.tile-18-12 { background-position: 90% 60%; }
.tile-19-12 { background-position: 95% 60%; }
.tile-20-12 { background-position: 100% 60%; }
.tile-0-13 { background-position: 0% 65%; }
.tile-1-13 { background-position: 5% 65%; }
.tile-2-13 { background-position: 10% 65%; }
.tile-3-13 { background-position: 15% 65%; }
.tile-4-13 { background-position: 20% 65%; }
.tile-5-13 { background-position: 25% 65%; }
.tile-6-13 { background-position: 30% 65%; }
.tile-7-13 { background-position: 35% 65%; }
.tile-8-13 { background-position: 40% 65%; }
.tile-9-13 { background-position: 45% 65%; }
.tile-10-13 { background-position: 50% 65%; }
.tile-11-13 { background-position: 55% 65%; }
.tile-12-13 { background-position: 60% 65%; }
.tile-13-13 { background-position: 65% 65%; }
.tile-14-13 { background-position: 70% 65%; }
.tile-15-13 { background-position: 75% 65%; }
.tile-16-13 { background-position: 80% 65%; }
.tile-17-13 { background-position: 85% 65%; }
.tile-18-13 { background-position: 90% 65%; }
.tile-19-13 { background-position: 95% 65%; }
.tile-20-13 { background-position: 100% 65%; }
.tile-0-14 { background-position: 0% 70%; }
.tile-1-14 { background-position: 5% 70%; }
.tile-2-14 { background-position: 10% 70%; }
.tile-3-14 { background-position: 15% 70%; }
.tile-4-14 { background-position: 20% 70%; }
.tile-5-14 { background-position: 25% 70%; }
.tile-6-14 { background-position: 30% 70%; }
.tile-7-14 { background-position: 35% 70%; }
.tile-8-14 { background-position: 40% 70%; }
.tile-9-14 { background-position: 45% 70%; }
.tile-10-14 { background-position: 50% 70%; }
.tile-11-14 { background-position: 55% 70%; }
.tile-12-14 { background-position: 60% 70%; }
.tile-13-14 { background-position: 65% 70%; }
.tile-14-14 { background-position: 70% 70%; }
.tile-15-14 { background-position: 75% 70%; }
.tile-16-14 { background-position: 80% 70%; }
.tile-17-14 { background-position: 85% 70%; }
.tile-18-14 { background-position: 90% 70%; }
.tile-19-14 { background-position: 95% 70%; }
.tile-20-14 { background-position: 100% 70%; }
.tile-0-15 { background-position: 0% 75%; }
.tile-1-15 { background-position: 5% 75%; }
.tile-2-15 { background-position: 10% 75%; }
.tile-3-15 { background-position: 15% 75%; }
.tile-4-15 { background-position: 20% 75%; }
.tile-5-15 { background-position: 25% 75%; }
.tile-6-15 { background-position: 30% 75%; }
.tile-7-15 { background-position: 35% 75%; }
.tile-8-15 { background-position: 40% 75%; }
.tile-9-15 { background-position: 45% 75%; }
.tile-10-15 { background-position: 50% 75%; }
.tile-11-15 { background-position: 55% 75%; }
.tile-12-15 { background-position: 60% 75%; }
.tile-13-15 { background-position: 65% 75%; }
.tile-14-15 { background-position: 70% 75%; }
.tile-15-15 { background-position: 75% 75%; }
.tile-16-15 { background-position: 80% 75%; }
.tile-17-15 { background-position: 85% 75%; }
.tile-18-15 { background-position: 90% 75%; }
.tile-19-15 { background-position: 95% 75%; }
.tile-20-15 { background-position: 100% 75%; }
.tile-0-16 { background-position: 0% 80%; }
.tile-1-16 { background-position: 5% 80%; }
.tile-2-16 { background-position: 10% 80%; }
.tile-3-16 { background-position: 15% 80%; }
.tile-4-16 { background-position: 20% 80%; }
.tile-5-16 { background-position: 25% 80%; }
.tile-6-16 { background-position: 30% 80%; }
.tile-7-16 { background-position: 35% 80%; }
.tile-8-16 { background-position: 40% 80%; }
.tile-9-16 { background-position: 45% 80%; }
.tile-10-16 { background-position: 50% 80%; }
.tile-11-16 { background-position: 55% 80%; }
.tile-12-16 { background-position: 60% 80%; }
.tile-13-16 { background-position: 65% 80%; }
.tile-14-16 { background-position: 70% 80%; }
.tile-15-16 { background-position: 75% 80%; }
.tile-16-16 { background-position: 80% 80%; }
.tile-17-16 { background-position: 85% 80%; }
.tile-18-16 { background-position: 90% 80%; }
.tile-19-16 { background-position: 95% 80%; }
.tile-20-16 { background-position: 100% 80%; }
.tile-0-17 { background-position: 0% 85%; }
.tile-1-17 { background-position: 5% 85%; }
.tile-2-17 { background-position: 10% 85%; }
.tile-3-17 { background-position: 15% 85%; }
.tile-4-17 { background-position: 20% 85%; }
.tile-5-17 { background-position: 25% 85%; }
.tile-6-17 { background-position: 30% 85%; }
.tile-7-17 { background-position: 35% 85%; }
.tile-8-17 { background-position: 40% 85%; }
.tile-9-17 { background-position: 45% 85%; }
.tile-10-17 { background-position: 50% 85%; }
.tile-11-17 { background-position: 55% 85%; }
.tile-12-17 { background-position: 60% 85%; }
.tile-13-17 { background-position: 65% 85%; }
.tile-14-17 { background-position: 70% 85%; }
.tile-15-17 { background-position: 75% 85%; }
.tile-16-17 { background-position: 80% 85%; }
.tile-17-17 { background-position: 85% 85%; }
.tile-18-17 { background-position: 90% 85%; }
.tile-19-17 { background-position: 95% 85%; }
.tile-20-17 { background-position: 100% 85%; }
.tile-0-18 { background-position: 0% 90%; }
.tile-1-18 { background-position: 5% 90%; }
.tile-2-18 { background-position: 10% 90%; }
.tile-3-18 { background-position: 15% 90%; }
.tile-4-18 { background-position: 20% 90%; }
.tile-5-18 { background-position: 25% 90%; }
.tile-6-18 { background-position: 30% 90%; }
.tile-7-18 { background-position: 35% 90%; }
.tile-8-18 { background-position: 40% 90%; }
.tile-9-18 { background-position: 45% 90%; }
.tile-10-18 { background-position: 50% 90%; }
.tile-11-18 { background-position: 55% 90%; }
.tile-12-18 { background-position: 60% 90%; }
.tile-13-18 { background-position: 65% 90%; }
.tile-14-18 { background-position: 70% 90%; }
.tile-15-18 { background-position: 75% 90%; }
.tile-16-18 { background-position: 80% 90%; }
.tile-17-18 { background-position: 85% 90%; }
.tile-18-18 { background-position: 90% 90%; }
.tile-19-18 { background-position: 95% 90%; }
.tile-20-18 { background-position: 100% 90%; }
.tile-0-19 { background-position: 0% 95%; }
.tile-1-19 { background-position: 5% 95%; }
.tile-2-19 { background-position: 10% 95%; }
.tile-3-19 { background-position: 15% 95%; }
.tile-4-19 { background-position: 20% 95%; }
.tile-5-19 { background-position: 25% 95%; }
.tile-6-19 { background-position: 30% 95%; }
.tile-7-19 { background-position: 35% 95%; }
.tile-8-19 { background-position: 40% 95%; }
.tile-9-19 { background-position: 45% 95%; }
.tile-10-19 { background-position: 50% 95%; }
.tile-11-19 { background-position: 55% 95%; }
.tile-12-19 { background-position: 60% 95%; }
.tile-13-19 { background-position: 65% 95%; }
.tile-14-19 { background-position: 70% 95%; }
.tile-15-19 { background-position: 75% 95%; }
.tile-16-19 { background-position: 80% 95%; }
.tile-17-19 { background-position: 85% 95%; }
.tile-18-19 { background-position: 90% 95%; }
.tile-19-19 { background-position: 95% 95%; }
.tile-20-19 { background-position: 100% 95%; }
.tile-0-20 { background-position: 0% 100%; }
.tile-1-20 { background-position: 5% 100%; }
.tile-2-20 { background-position: 10% 100%; }
.tile-3-20 { background-position: 15% 100%; }
.tile-4-20 { background-position: 20% 100%; }
.tile-5-20 { background-position: 25% 100%; }
.tile-6-20 { background-position: 30% 100%; }
.tile-7-20 { background-position: 35% 100%; }
.tile-8-20 { background-position: 40% 100%; }
.tile-9-20 { background-position: 45% 100%; }
.tile-10-20 { background-position: 50% 100%; }
.tile-11-20 { background-position: 55% 100%; }
.tile-12-20 { background-position: 60% 100%; }
.tile-13-20 { background-position: 65% 100%; }
.tile-14-20 { background-position: 70% 100%; }
.tile-15-20 { background-position: 75% 100%; }
.tile-16-20 { background-position: 80% 100%; }
.tile-17-20 { background-position: 85% 100%; }
.tile-18-20 { background-position: 90% 100%; }
.tile-19-20 { background-position: 95% 100%; }
.tile-20-20 { background-position: 100% 100%; } */

/* 16 pixels ends up being 5%
0.3125% should be one pixel
1.25% is 4 pixels

 */


.player {
  background: green !important;
  /* background: url(./dungeon_tiles.png) 0 0 !important; */
}

.WALL {
  background: black !important;
}
.void {
  background: black;
}

.door-open {
  background: yellow;
}
.door-closed {
  background: orange;
}

.door-locked {
  background: red;
}

.visible {
  opacity: 1;
}
.fog {
  background-color: gray;
  opacity: 0.5;
}
.hide {
  background: black !important;
}

.label {
  width: 5px;
}
