.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  justify-content: space-around;

  line-height: 30px;
}
.flex-item {
  margin: 0px;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  flex: 1 0 auto;
  height: auto;
  border: 1px solid black;
}
.flex-item:before {
  content: "";
  float: left;
  padding-top: 100%;
}

.Tile {
  height: 100%;
  width: 100%;
}

.ground {
  background: white;
  color: black;
}

.player {
  background: green !important;
  /* background: url(./dungeon_tiles.png) 0 0 !important; */
}

.WALL {
  background: black !important;
}
.void {
  background: black;
}

.door-open {
  background: yellow;
}
.door-closed {
  background: orange;
}

.door-locked {
  background: red;
}

.visible {
  opacity: 1;
}
.fog {
  background-color: gray;
  opacity: 0.5;
}
.hide {
  background: black !important;
}

.label {
  width: 5px;
}
