.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  justify-content: space-around;

  line-height: 30px;
}
.flex-item {
  margin: 0px;
  flex: 1 0 auto;
  height: auto;
  /* border: 1px solid black; */
}
.flex-item:before {
  content: "";
  float: left;
  padding-top: 100%;
}

.Tile {
  height: 100%;
  width: 100%;
}

.LayerMap {
  height: 100%;
  width: 100%;
  float: left;
  position: relative;
}

.LayerTile {
  float: left;
  position: relative;
}

.Layered {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.sprites {
  width: 100%;
  height: 100%;
  background: url(./underworld_load-atlas-32x32.png) no-repeat;
  background-size: 1750%;
}

.sprite-0-0 {
  background-position: 0% 0%;
}
.sprite-1-0 {
  background-position: 6.67% 0%;
}
.sprite-2-0 {
  background-position: 13.33% 0%;
}
.sprite-3-0 {
  background-position: 20% 0%;
}
.sprite-4-0 {
  background-position: 26.67% 0%;
}
.sprite-5-0 {
  background-position: 33.33% 0%;
}
.sprite-6-0 {
  background-position: 40% 0%;
}
.sprite-7-0 {
  background-position: 46.67% 0%;
}
.sprite-8-0 {
  background-position: 53.33% 0%;
}
.sprite-9-0 {
  background-position: 60% 0%;
}
.sprite-10-0 {
  background-position: 66.67% 0%;
}
.sprite-11-0 {
  background-position: 73.33% 0%;
}
.sprite-12-0 {
  background-position: 80% 0%;
}
.sprite-13-0 {
  background-position: 86.67% 0%;
}
.sprite-14-0 {
  background-position: 93.33% 0%;
}
.sprite-15-0 {
  background-position: 100% 0%;
}
.sprite-0-1 {
  background-position: 0% 6.67%;
}
.sprite-1-1 {
  background-position: 6.67% 6.67%;
}
.sprite-2-1 {
  background-position: 13.33% 6.67%;
}
.sprite-3-1 {
  background-position: 20% 6.67%;
}
.sprite-4-1 {
  background-position: 26.67% 6.67%;
}
.sprite-5-1 {
  background-position: 33.33% 6.67%;
}
.sprite-6-1 {
  background-position: 40% 6.67%;
}
.sprite-7-1 {
  background-position: 46.67% 6.67%;
}
.sprite-8-1 {
  background-position: 53.33% 6.67%;
}
.sprite-9-1 {
  background-position: 60% 6.67%;
}
.sprite-10-1 {
  background-position: 66.67% 6.67%;
}
.sprite-11-1 {
  background-position: 73.33% 6.67%;
}
.sprite-12-1 {
  background-position: 80% 6.67%;
}
.sprite-13-1 {
  background-position: 86.67% 6.67%;
}
.sprite-14-1 {
  background-position: 93.33% 6.67%;
}
.sprite-15-1 {
  background-position: 100% 6.67%;
}
.sprite-0-2 {
  background-position: 0% 13.33%;
}
.sprite-1-2 {
  background-position: 6.67% 13.33%;
}
.sprite-2-2 {
  background-position: 13.33% 13.33%;
}
.sprite-3-2 {
  background-position: 20% 13.33%;
}
.sprite-4-2 {
  background-position: 26.67% 13.33%;
}
.sprite-5-2 {
  background-position: 33.33% 13.33%;
}
.sprite-6-2 {
  background-position: 40% 13.33%;
}
.sprite-7-2 {
  background-position: 46.67% 13.33%;
}
.sprite-8-2 {
  background-position: 53.33% 13.33%;
}
.sprite-9-2 {
  background-position: 60% 13.33%;
}
.sprite-10-2 {
  background-position: 66.67% 13.33%;
}
.sprite-11-2 {
  background-position: 73.33% 13.33%;
}
.sprite-12-2 {
  background-position: 80% 13.33%;
}
.sprite-13-2 {
  background-position: 86.67% 13.33%;
}
.sprite-14-2 {
  background-position: 93.33% 13.33%;
}
.sprite-15-2 {
  background-position: 100% 13.33%;
}
.sprite-0-3 {
  background-position: 0% 20%;
}
.sprite-1-3 {
  background-position: 6.67% 20%;
}
.sprite-2-3 {
  background-position: 13.33% 20%;
}
.sprite-3-3 {
  background-position: 20% 20%;
}
.sprite-4-3 {
  background-position: 26.67% 20%;
}
.sprite-5-3 {
  background-position: 33.33% 20%;
}
.sprite-6-3 {
  background-position: 40% 20%;
}
.sprite-7-3 {
  background-position: 46.67% 20%;
}
.sprite-8-3 {
  background-position: 53.33% 20%;
}
.sprite-9-3 {
  background-position: 60% 20%;
}
.sprite-10-3 {
  background-position: 66.67% 20%;
}
.sprite-11-3 {
  background-position: 73.33% 20%;
}
.sprite-12-3 {
  background-position: 80% 20%;
}
.sprite-13-3 {
  background-position: 86.67% 20%;
}
.sprite-14-3 {
  background-position: 93.33% 20%;
}
.sprite-15-3 {
  background-position: 100% 20%;
}
.sprite-0-4 {
  background-position: 0% 26.67%;
}
.sprite-1-4 {
  background-position: 6.67% 26.67%;
}
.sprite-2-4 {
  background-position: 13.33% 26.67%;
}
.sprite-3-4 {
  background-position: 20% 26.67%;
}
.sprite-4-4 {
  background-position: 26.67% 26.67%;
}
.sprite-5-4 {
  background-position: 33.33% 26.67%;
}
.sprite-6-4 {
  background-position: 40% 26.67%;
}
.sprite-7-4 {
  background-position: 46.67% 26.67%;
}
.sprite-8-4 {
  background-position: 53.33% 26.67%;
}
.sprite-9-4 {
  background-position: 60% 26.67%;
}
.sprite-10-4 {
  background-position: 66.67% 26.67%;
}
.sprite-11-4 {
  background-position: 73.33% 26.67%;
}
.sprite-12-4 {
  background-position: 80% 26.67%;
}
.sprite-13-4 {
  background-position: 86.67% 26.67%;
}
.sprite-14-4 {
  background-position: 93.33% 26.67%;
}
.sprite-15-4 {
  background-position: 100% 26.67%;
}
.sprite-0-5 {
  background-position: 0% 33.33%;
}
.sprite-1-5 {
  background-position: 6.67% 33.33%;
}
.sprite-2-5 {
  background-position: 13.33% 33.33%;
}
.sprite-3-5 {
  background-position: 20% 33.33%;
}
.sprite-4-5 {
  background-position: 26.67% 33.33%;
}
.sprite-5-5 {
  background-position: 33.33% 33.33%;
}
.sprite-6-5 {
  background-position: 40% 33.33%;
}
.sprite-7-5 {
  background-position: 46.67% 33.33%;
}
.sprite-8-5 {
  background-position: 53.33% 33.33%;
}
.sprite-9-5 {
  background-position: 60% 33.33%;
}
.sprite-10-5 {
  background-position: 66.67% 33.33%;
}
.sprite-11-5 {
  background-position: 73.33% 33.33%;
}
.sprite-12-5 {
  background-position: 80% 33.33%;
}
.sprite-13-5 {
  background-position: 86.67% 33.33%;
}
.sprite-14-5 {
  background-position: 93.33% 33.33%;
}
.sprite-15-5 {
  background-position: 100% 33.33%;
}
.sprite-0-6 {
  background-position: 0% 40%;
}
.sprite-1-6 {
  background-position: 6.67% 40%;
}
.sprite-2-6 {
  background-position: 13.33% 40%;
}
.sprite-3-6 {
  background-position: 20% 40%;
}
.sprite-4-6 {
  background-position: 26.67% 40%;
}
.sprite-5-6 {
  background-position: 33.33% 40%;
}
.sprite-6-6 {
  background-position: 40% 40%;
}
.sprite-7-6 {
  background-position: 46.67% 40%;
}
.sprite-8-6 {
  background-position: 53.33% 40%;
}
.sprite-9-6 {
  background-position: 60% 40%;
}
.sprite-10-6 {
  background-position: 66.67% 40%;
}
.sprite-11-6 {
  background-position: 73.33% 40%;
}
.sprite-12-6 {
  background-position: 80% 40%;
}
.sprite-13-6 {
  background-position: 86.67% 40%;
}
.sprite-14-6 {
  background-position: 93.33% 40%;
}
.sprite-15-6 {
  background-position: 100% 40%;
}
.sprite-0-7 {
  background-position: 0% 46.67%;
}
.sprite-1-7 {
  background-position: 6.67% 46.67%;
}
.sprite-2-7 {
  background-position: 13.33% 46.67%;
}
.sprite-3-7 {
  background-position: 20% 46.67%;
}
.sprite-4-7 {
  background-position: 26.67% 46.67%;
}
.sprite-5-7 {
  background-position: 33.33% 46.67%;
}
.sprite-6-7 {
  background-position: 40% 46.67%;
}
.sprite-7-7 {
  background-position: 46.67% 46.67%;
}
.sprite-8-7 {
  background-position: 53.33% 46.67%;
}
.sprite-9-7 {
  background-position: 60% 46.67%;
}
.sprite-10-7 {
  background-position: 66.67% 46.67%;
}
.sprite-11-7 {
  background-position: 73.33% 46.67%;
}
.sprite-12-7 {
  background-position: 80% 46.67%;
}
.sprite-13-7 {
  background-position: 86.67% 46.67%;
}
.sprite-14-7 {
  background-position: 93.33% 46.67%;
}
.sprite-15-7 {
  background-position: 100% 46.67%;
}
.sprite-0-8 {
  background-position: 0% 53.33%;
}
.sprite-1-8 {
  background-position: 6.67% 53.33%;
}
.sprite-2-8 {
  background-position: 13.33% 53.33%;
}
.sprite-3-8 {
  background-position: 20% 53.33%;
}
.sprite-4-8 {
  background-position: 26.67% 53.33%;
}
.sprite-5-8 {
  background-position: 33.33% 53.33%;
}
.sprite-6-8 {
  background-position: 40% 53.33%;
}
.sprite-7-8 {
  background-position: 46.67% 53.33%;
}
.sprite-8-8 {
  background-position: 53.33% 53.33%;
}
.sprite-9-8 {
  background-position: 60% 53.33%;
}
.sprite-10-8 {
  background-position: 66.67% 53.33%;
}
.sprite-11-8 {
  background-position: 73.33% 53.33%;
}
.sprite-12-8 {
  background-position: 80% 53.33%;
}
.sprite-13-8 {
  background-position: 86.67% 53.33%;
}
.sprite-14-8 {
  background-position: 93.33% 53.33%;
}
.sprite-15-8 {
  background-position: 100% 53.33%;
}
.sprite-0-9 {
  background-position: 0% 60%;
}
.sprite-1-9 {
  background-position: 6.67% 60%;
}
.sprite-2-9 {
  background-position: 13.33% 60%;
}
.sprite-3-9 {
  background-position: 20% 60%;
}
.sprite-4-9 {
  background-position: 26.67% 60%;
}
.sprite-5-9 {
  background-position: 33.33% 60%;
}
.sprite-6-9 {
  background-position: 40% 60%;
}
.sprite-7-9 {
  background-position: 46.67% 60%;
}
.sprite-8-9 {
  background-position: 53.33% 60%;
}
.sprite-9-9 {
  background-position: 60% 60%;
}
.sprite-10-9 {
  background-position: 66.67% 60%;
}
.sprite-11-9 {
  background-position: 73.33% 60%;
}
.sprite-12-9 {
  background-position: 80% 60%;
}
.sprite-13-9 {
  background-position: 86.67% 60%;
}
.sprite-14-9 {
  background-position: 93.33% 60%;
}
.sprite-15-9 {
  background-position: 100% 60%;
}
.sprite-0-10 {
  background-position: 0% 66.67%;
}
.sprite-1-10 {
  background-position: 6.67% 66.67%;
}
.sprite-2-10 {
  background-position: 13.33% 66.67%;
}
.sprite-3-10 {
  background-position: 20% 66.67%;
}
.sprite-4-10 {
  background-position: 26.67% 66.67%;
}
.sprite-5-10 {
  background-position: 33.33% 66.67%;
}
.sprite-6-10 {
  background-position: 40% 66.67%;
}
.sprite-7-10 {
  background-position: 46.67% 66.67%;
}
.sprite-8-10 {
  background-position: 53.33% 66.67%;
}
.sprite-9-10 {
  background-position: 60% 66.67%;
}
.sprite-10-10 {
  background-position: 66.67% 66.67%;
}
.sprite-11-10 {
  background-position: 73.33% 66.67%;
}
.sprite-12-10 {
  background-position: 80% 66.67%;
}
.sprite-13-10 {
  background-position: 86.67% 66.67%;
}
.sprite-14-10 {
  background-position: 93.33% 66.67%;
}
.sprite-15-10 {
  background-position: 100% 66.67%;
}
.sprite-0-11 {
  background-position: 0% 73.33%;
}
.sprite-1-11 {
  background-position: 6.67% 73.33%;
}
.sprite-2-11 {
  background-position: 13.33% 73.33%;
}
.sprite-3-11 {
  background-position: 20% 73.33%;
}
.sprite-4-11 {
  background-position: 26.67% 73.33%;
}
.sprite-5-11 {
  background-position: 33.33% 73.33%;
}
.sprite-6-11 {
  background-position: 40% 73.33%;
}
.sprite-7-11 {
  background-position: 46.67% 73.33%;
}
.sprite-8-11 {
  background-position: 53.33% 73.33%;
}
.sprite-9-11 {
  background-position: 60% 73.33%;
}
.sprite-10-11 {
  background-position: 66.67% 73.33%;
}
.sprite-11-11 {
  background-position: 73.33% 73.33%;
}
.sprite-12-11 {
  background-position: 80% 73.33%;
}
.sprite-13-11 {
  background-position: 86.67% 73.33%;
}
.sprite-14-11 {
  background-position: 93.33% 73.33%;
}
.sprite-15-11 {
  background-position: 100% 73.33%;
}
.sprite-0-12 {
  background-position: 0% 80%;
}
.sprite-1-12 {
  background-position: 6.67% 80%;
}
.sprite-2-12 {
  background-position: 13.33% 80%;
}
.sprite-3-12 {
  background-position: 20% 80%;
}
.sprite-4-12 {
  background-position: 26.67% 80%;
}
.sprite-5-12 {
  background-position: 33.33% 80%;
}
.sprite-6-12 {
  background-position: 40% 80%;
}
.sprite-7-12 {
  background-position: 46.67% 80%;
}
.sprite-8-12 {
  background-position: 53.33% 80%;
}
.sprite-9-12 {
  background-position: 60% 80%;
}
.sprite-10-12 {
  background-position: 66.67% 80%;
}
.sprite-11-12 {
  background-position: 73.33% 80%;
}
.sprite-12-12 {
  background-position: 80% 80%;
}
.sprite-13-12 {
  background-position: 86.67% 80%;
}
.sprite-14-12 {
  background-position: 93.33% 80%;
}
.sprite-15-12 {
  background-position: 100% 80%;
}
.sprite-0-13 {
  background-position: 0% 86.67%;
}
.sprite-1-13 {
  background-position: 6.67% 86.67%;
}
.sprite-2-13 {
  background-position: 13.33% 86.67%;
}
.sprite-3-13 {
  background-position: 20% 86.67%;
}
.sprite-4-13 {
  background-position: 26.67% 86.67%;
}
.sprite-5-13 {
  background-position: 33.33% 86.67%;
}
.sprite-6-13 {
  background-position: 40% 86.67%;
}
.sprite-7-13 {
  background-position: 46.67% 86.67%;
}
.sprite-8-13 {
  background-position: 53.33% 86.67%;
}
.sprite-9-13 {
  background-position: 60% 86.67%;
}
.sprite-10-13 {
  background-position: 66.67% 86.67%;
}
.sprite-11-13 {
  background-position: 73.33% 86.67%;
}
.sprite-12-13 {
  background-position: 80% 86.67%;
}
.sprite-13-13 {
  background-position: 86.67% 86.67%;
}
.sprite-14-13 {
  background-position: 93.33% 86.67%;
}
.sprite-15-13 {
  background-position: 100% 86.67%;
}
.sprite-0-14 {
  background-position: 0% 93.33%;
}
.sprite-1-14 {
  background-position: 6.67% 93.33%;
}
.sprite-2-14 {
  background-position: 13.33% 93.33%;
}
.sprite-3-14 {
  background-position: 20% 93.33%;
}
.sprite-4-14 {
  background-position: 26.67% 93.33%;
}
.sprite-5-14 {
  background-position: 33.33% 93.33%;
}
.sprite-6-14 {
  background-position: 40% 93.33%;
}
.sprite-7-14 {
  background-position: 46.67% 93.33%;
}
.sprite-8-14 {
  background-position: 53.33% 93.33%;
}
.sprite-9-14 {
  background-position: 60% 93.33%;
}
.sprite-10-14 {
  background-position: 66.67% 93.33%;
}
.sprite-11-14 {
  background-position: 73.33% 93.33%;
}
.sprite-12-14 {
  background-position: 80% 93.33%;
}
.sprite-13-14 {
  background-position: 86.67% 93.33%;
}
.sprite-14-14 {
  background-position: 93.33% 93.33%;
}
.sprite-15-14 {
  background-position: 100% 93.33%;
}
.sprite-0-15 {
  background-position: 0% 100%;
}
.sprite-1-15 {
  background-position: 6.67% 100%;
}
.sprite-2-15 {
  background-position: 13.33% 100%;
}
.sprite-3-15 {
  background-position: 20% 100%;
}
.sprite-4-15 {
  background-position: 26.67% 100%;
}
.sprite-5-15 {
  background-position: 33.33% 100%;
}
.sprite-6-15 {
  background-position: 40% 100%;
}
.sprite-7-15 {
  background-position: 46.67% 100%;
}
.sprite-8-15 {
  background-position: 53.33% 100%;
}
.sprite-9-15 {
  background-position: 60% 100%;
}
.sprite-10-15 {
  background-position: 66.67% 100%;
}
.sprite-11-15 {
  background-position: 73.33% 100%;
}
.sprite-12-15 {
  background-position: 80% 100%;
}
.sprite-13-15 {
  background-position: 86.67% 100%;
}
.sprite-14-15 {
  background-position: 93.33% 100%;
}
.sprite-15-15 {
  background-position: 100% 100%;
}

.player {
  background: green !important;
  /* background: url(./dungeon_sprites.png) 0 0 !important; */
}

.WALL {
  background: black !important;
}
.void {
  background: black;
}

.door-open {
  background: yellow;
}
.door-closed {
  background: orange;
}

.door-locked {
  background: red;
}

.visible {
  opacity: 1;
}
.fog {
  background-color: gray;
  opacity: 0.5;
}
.hide {
  background: black !important;
}

.label {
  width: 5px;
}
